.stockScreenContainer {
  background-color: #050B10;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

.stockScreenContainerHeader {
  flex: 1;
  display: flex;
  margin-top: 60px;
}

.headerContainer {
  margin: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.headerContainer__changeContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 20px auto 0px auto;
}

.headerContainer__afterHours {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 300;
}

.headerContainer__changeContainerSection {
  flex: 1;
  text-align: center;
  margin: 0 20px;
}

.headerContainer__price {
  font-size: 80px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin: 0 0 -10px 0;
}

.headerContainer__dollarSign {
  margin-right: 8px;
  vertical-align: top;
  font-size: 20px;
  line-height: 3;
  opacity: 0.8;
  font-weight: 300;
}

.headerContainer__decimalAmount {
  font-size: 30px;
  line-height: 2.5;
  margin-left: 5px;
  vertical-align: top;
  opacity: 0.8;
}

.headerContainer__changeAmount {
  text-align: center;
  margin: 0;
  font-weight: 300;
}

.headerContainer__changeAmountLabel {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.headerContainer__metaData {
  flex: 1;
  justify-content: center;
  display: flex;
  max-width: 200px;
  margin: 20px auto 0px auto;
}

.headerContainer__metaDataContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  margin: 0 20px;
}

.headerContainer__metaDataContainerLabel {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
}

.stockScreenContainerChart {
  flex: 1.5;
  display: flex;
}

.stockScreenContainerButtons {
  background-color: #262931;
  display: flex;
  min-height: 40px;
  justify-content: center;
  z-index: 2;
}

.rangeSelector {
  text-transform: uppercase;
  font-family: 'DIN';
  font-weight: 300;
  margin: 0 10px;
  opacity: 0.2;
}