.pingContainer {
  width: 3px;
  height: 3px;
  background-color: rgba(26, 159, 183, 0.8);;
  border-radius: 100%;
  margin: 0 20px;
  position: relative;
}

.ping {
  width: 0px;
  height: 0px;
  box-shadow: inset 0 0 200px rgba(26, 159, 183, 0);
  border: 1px solid rgba(26, 159, 183, 0);
  border-radius: 50%;
  animation: ping 3s ease infinite;
  z-index: 2;
  position: absolute;
  transform: translate(-38%, -38%);
}

@keyframes ping {
  0% {
    width: 0px;
    height: 0px;
    box-shadow: inset 0 0 200px rgba(26, 159, 183, 0.2);
    border: 1px solid rgba(26, 159, 183, 0.8);
  }
  60% {
    box-shadow: inset 0 0 200px rgba(26, 159, 183, 0);
    border: 1px solid rgba(26, 159, 183, 0.1);
  }
  90% {
    width: 20px;
    height: 20px;
  }
}
